[*.cs]
max_line_length = 190
max_line_lengtheditorconfig = 190
resharper_csharp_max_line_length = 190

# Interface specific formatting
resharper_csharp_wrap_before_type_parameter_constraints = false
resharper_csharp_new_line_before_type_parameter_constraint_list = false
resharper_csharp_wrap_before_extends_colon = false
resharper_csharp_new_line_before_members_in_object_initializers = false
resharper_csharp_keep_existing_arrangement = true
resharper_csharp_wrap_after_invocation_lpar = false
resharper_csharp_wrap_before_invocation_lpar = false
resharper_int_align = false
resharper_csharp_int_align = false
resharper_csharp_outdent_commas = false
resharper_csharp_outdent_dots = false
resharper_csharp_new_line_before_open_brace = none