[*]
end_of_line = crlf

# ReSharper properties
resharper_method_or_operator_body = expression_body
resharper_use_heuristics_for_body_style = true

[*.xml]
indent_style = space

[*Tests.cs]
resharper_possible_multiple_enumeration_highlighting = suggestion
resharper_operator_is_can_be_used_highlighting = suggestion
