[*.cs]
dotnet_diagnostic.s3236.severity = none # Caller information arguments should not be provided explicitly - gives false positives for use of .net standard version of the Guard class

# ReSharper properties
resharper_csharp_empty_block_style = together
roslynator_block_braces_style = single_line_when_empty
# Format accessor's braces on single line or multiple lines
# Default value is multi_line
roslynator_accessor_braces_style = single_line_when_expression_is_on_single_line
dotnet_diagnostic.RCS0023.severity = warning
dotnet_diagnostic.RCS0022 = false

dotnet_diagnostic.sa1500.severity = none # this one controlls braces on the same line
dotnet_diagnostic.sa1501.severity = warning
dotnet_diagnostic.sa1502.severity = warning #
dotnet_diagnostic.sa1503.severity = warning
dotnet_diagnostic.sa1504.severity = warning
dotnet_diagnostic.sa1505.severity = warning
dotnet_diagnostic.sa1506.severity = warning
dotnet_diagnostic.sa1507.severity = warning
dotnet_diagnostic.sa1508.severity = warning
dotnet_diagnostic.sa1509.severity = warning
dotnet_diagnostic.sa1510.severity = warning
dotnet_diagnostic.sa1511.severity = warning
dotnet_diagnostic.sa1512.severity = warning
dotnet_diagnostic.sa1513.severity = warning
dotnet_diagnostic.sa1514.severity = warning
dotnet_diagnostic.sa1515.severity = warning
dotnet_diagnostic.SA1633.severity = none